body{
    background:linear-gradient(to left,#265077,#022140);
    text-transform:capitalize;
}
dd{
    text-transform:lowercase;
}
header{
    margin:10px auto;
    padding:50px;
    width:90%;
    height:160px;
    background:linear-gradient(to right,#265077,#eee);
    border:1px solid black;
    border-radius:10%;
    border-top-right-radius:30%;
}
#hcen{
    text-align:center;
    font-size:2em;
    font-weight:900;
    color:darkslategray;
    line-height:160px;
    background:linear-gradient(to bottom right,rgba(40,40,40,0.8),#eee);
    border-radius:10%;
    border-top-right-radius:30%;
}
#main{
    box-sizing:border-box;
    width:90%;
    height:inherit;
    margin:50px auto;
    padding:50px;
    background:linear-gradient(to top right,#1e4258,#494b68);
    color:white;
}
dt{
    font-size:1.4em;
    letter-spacing:3px;
    font-family:sans-serif;
}
dd{
    margin:20px 80px;
    color:rgb(200,200,200);
    font-size:1.3em;
    font-weight:100;
    letter-spacing:3px;
    font-family:serif;
}
.then{
    color:mediumpurple;
}
#enp{
    width:70%;
    margin:10px auto;
    height:100px;
    background:linear-gradient(to right,#2d5f5d,green);
    color:black;
    font-weight:900;
    font-size:2em;
    padding:20px;
    line-height:50px;
}
#e,#p,#n{
    display:inline;
    margin:28px;
}
#ee,#pp,#nn{
    display:inline;
    margin:80px;
}
